
.centre_body_main_img_ctnr {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: rgb(9, 245, 25);
    overflow:hidden;
    border-radius: 15px;
}

.centre_body_main_img_ctnr img {
    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}